<div class="messages-container">
  <div id="message-list" class="message-list">
    <p *ngFor="let message of chatService.messages"><b (loaded)="scrollDown()">{{message.userName}}</b>: {{message.messageBody}}</p>
  </div>
</div>

<div class="container">
  <div class="textbox container">

    <form [formGroup]="messageForm" (ngSubmit)="submitMessage()">
      <input type="text" formControlName="newMessage" placeholder="type a message" />
      <button type="submit" id="submitNewMessage" title="Go">Go</button>
    </form>

  </div>
</div>
