.textbox {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

input {
  height: 80px;
  width: calc(100% - 63px);
}

messages-container {
  /*padding-bottom: 80px;*/
}

.textbox button {
  padding: 26px 19px;
}

.user-1 {
  color: orange;
}

.user-2 {
  color: blue;
}

.message-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 9rem);
  /*padding-bottom: 8rem;*/
}

p {
  margin-bottom: 0;
}
