.textbox {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

input {
  height: 80px;
  width: calc(100% - 63px);
}

messages-container {
  /*padding-bottom: 80px;*/
}

.textbox button {
  padding: 26px 19px;
}
